#panel,
#panelLeft,
#panelCenter,
#panelRight {
    transition-duration: 100
}

.menu,
.popup-menu,
.popup-combo-menu {
    margin: 6px;
}

.panel-right.panel-normal-mint-y-fully #panelLeft,
.panel-right.panel-normal-mint-y-fully #panelCenter,
.panel-right.panel-normal-mint-y-fully #panelRight,
.panel-right.panel-dock-mint-y-fully #panelLeft,
.panel-right.panel-dock-mint-y-fully #panelCenter,
.panel-right.panel-dock-mint-y-fully #panelRight,
.panel-right.panel-two-piece-mint-y-fully #panelLeft,
.panel-right.panel-two-piece-mint-y-fully #panelCenter,
.panel-right.panel-two-piece-mint-y-fully #panelRight,
.panel-right.panel-three-piece-mint-y-fully #panelLeft,
.panel-right.panel-three-piece-mint-y-fully #panelCenter,
.panel-right.panel-three-piece-mint-y-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color:rgba(181,181,181,1);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(243,243,244,
        1); /*opacity*/
    background-gradient-end: rgba(243,243,244,
        1); /*opacity*/
}

.panel-right.panel-normal-custom-fully #panelLeft,
.panel-right.panel-normal-custom-fully #panelCenter,
.panel-right.panel-normal-custom-fully #panelRight,
.panel-right.panel-dock-custom-fully #panelLeft,
.panel-right.panel-dock-custom-fully #panelCenter,
.panel-right.panel-dock-custom-fully #panelRight,
.panel-right.panel-two-piece-custom-fully #panelLeft,
.panel-right.panel-two-piece-custom-fully #panelCenter,
.panel-right.panel-two-piece-custom-fully #panelRight,
.panel-right.panel-three-piece-custom-fully #panelLeft,
.panel-right.panel-three-piece-custom-fully #panelCenter,
.panel-right.panel-three-piece-custom-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color:
        rgb(0,0,0); /*border-color-custom*/
    background-gradient-direction: horizontal;
    background-gradient-start:
        rgba(255,255,255,1.0); /*gradient-start-custom*/
    background-gradient-end:
        rgb(154,153,150); /*gradient-end-custom*/
}

.panel-right.panel-normal-mint-y-dark-fully #panelLeft,
.panel-right.panel-normal-mint-y-dark-fully #panelCenter,
.panel-right.panel-normal-mint-y-dark-fully #panelRight,
.panel-right.panel-dock-mint-y-dark-fully #panelLeft,
.panel-right.panel-dock-mint-y-dark-fully #panelCenter,
.panel-right.panel-dock-mint-y-dark-fully #panelRight,
.panel-right.panel-two-piece-mint-y-dark-fully #panelLeft,
.panel-right.panel-two-piece-mint-y-dark-fully #panelCenter,
.panel-right.panel-two-piece-mint-y-dark-fully #panelRight,
.panel-right.panel-three-piece-mint-y-dark-fully #panelLeft,
.panel-right.panel-three-piece-mint-y-dark-fully #panelCenter,
.panel-right.panel-three-piece-mint-y-dark-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(22,22,22,1);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(28,28,32,
        1); /*opacity*/
    background-gradient-end: rgba(28,28,32,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-azure-fully #panelLeft,
.panel-right.panel-normal-semabe-azure-fully #panelCenter,
.panel-right.panel-normal-semabe-azure-fully #panelRight,
.panel-right.panel-dock-semabe-azure-fully #panelLeft,
.panel-right.panel-dock-semabe-azure-fully #panelCenter,
.panel-right.panel-dock-semabe-azure-fully #panelRight,
.panel-right.panel-two-piece-semabe-azure-fully #panelLeft,
.panel-right.panel-two-piece-semabe-azure-fully #panelCenter,
.panel-right.panel-two-piece-semabe-azure-fully #panelRight,
.panel-right.panel-three-piece-semabe-azure-fully #panelLeft,
.panel-right.panel-three-piece-semabe-azure-fully #panelCenter,
.panel-right.panel-three-piece-semabe-azure-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(0,5,23,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(53,122,191,
        1); /*opacity*/
    background-gradient-end: rgba(0,13,61,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-normal-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-normal-semabe-cinnamon-fully #panelRight,
.panel-right.panel-dock-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-dock-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-dock-semabe-cinnamon-fully #panelRight,
.panel-right.panel-two-piece-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-two-piece-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-two-piece-semabe-cinnamon-fully #panelRight,
.panel-right.panel-three-piece-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-three-piece-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-three-piece-semabe-cinnamon-fully #panelRight  {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(15,5,0,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(191,76,19,
        1); /*opacity*/
    background-gradient-end: rgba(64,21,0,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-crimson-fully #panelLeft,
.panel-right.panel-normal-semabe-crimson-fully #panelCenter,
.panel-right.panel-normal-semabe-crimson-fully #panelRight,
.panel-right.panel-dock-semabe-crimson-fully #panelLeft,
.panel-right.panel-dock-semabe-crimson-fully #panelCenter,
.panel-right.panel-dock-semabe-crimson-fully #panelRight,
.panel-right.panel-two-piece-semabe-crimson-fully #panelLeft,
.panel-right.panel-two-piece-semabe-crimson-fully #panelCenter,
.panel-right.panel-two-piece-semabe-crimson-fully #panelRight,
.panel-right.panel-three-piece-semabe-crimson-fully #panelLeft,
.panel-right.panel-three-piece-semabe-crimson-fully #panelCenter,
.panel-right.panel-three-piece-semabe-crimson-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(13,0,3,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(174,59,90,
        1); /*opacity*/
    background-gradient-end: rgba(52,0,14,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-falcon-fully #panelLeft,
.panel-right.panel-normal-semabe-falcon-fully #panelCenter,
.panel-right.panel-normal-semabe-falcon-fully #panelRight,
.panel-right.panel-dock-semabe-falcon-fully #panelLeft,
.panel-right.panel-dock-semabe-falcon-fully #panelCenter,
.panel-right.panel-dock-semabe-falcon-fully #panelRight,
.panel-right.panel-two-piece-semabe-falcon-fully #panelLeft,
.panel-right.panel-two-piece-semabe-falcon-fully #panelCenter,
.panel-right.panel-two-piece-semabe-falcon-fully #panelRight,
.panel-right.panel-three-piece-semabe-falcon-fully #panelLeft,
.panel-right.panel-three-piece-semabe-falcon-fully #panelCenter,
.panel-right.panel-three-piece-semabe-falcon-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(13,4,7,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(144,112,124,
        1); /*opacity*/
    background-gradient-end: rgba(34,13,21,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-grey-fully #panelLeft,
.panel-right.panel-normal-semabe-grey-fully #panelCenter,
.panel-right.panel-normal-semabe-grey-fully #panelRight,
.panel-right.panel-dock-semabe-grey-fully #panelLeft,
.panel-right.panel-dock-semabe-grey-fully #panelCenter,
.panel-right.panel-dock-semabe-grey-fully #panelRight,
.panel-right.panel-two-piece-semabe-grey-fully #panelLeft,
.panel-right.panel-two-piece-semabe-grey-fully #panelCenter,
.panel-right.panel-two-piece-semabe-grey-fully #panelRight,
.panel-right.panel-three-piece-semabe-grey-fully #panelLeft,
.panel-right.panel-three-piece-semabe-grey-fully #panelCenter,
.panel-right.panel-three-piece-semabe-grey-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(10,10,10,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(103,103,103,
        1); /*opacity*/
    background-gradient-end: rgba(18,18,18,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-steel-fully #panelLeft,
.panel-right.panel-normal-semabe-steel-fully #panelCenter,
.panel-right.panel-normal-semabe-steel-fully #panelRight,
.panel-right.panel-dock-semabe-steel-fully #panelLeft,
.panel-right.panel-dock-semabe-steel-fully #panelCenter,
.panel-right.panel-dock-semabe-steel-fully #panelRight,
.panel-right.panel-two-piece-semabe-steel-fully #panelLeft,
.panel-right.panel-two-piece-semabe-steel-fully #panelCenter,
.panel-right.panel-two-piece-semabe-steel-fully #panelRight,
.panel-right.panel-three-piece-semabe-steel-fully #panelLeft,
.panel-right.panel-three-piece-semabe-steel-fully #panelCenter,
.panel-right.panel-three-piece-semabe-steel-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(8,8,10,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(93,93,103,
        1); /*opacity*/
    background-gradient-end: rgba(16,16,18,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-mint-fully #panelLeft,
.panel-right.panel-normal-semabe-mint-fully #panelCenter,
.panel-right.panel-normal-semabe-mint-fully #panelRight,
.panel-right.panel-dock-semabe-mint-fully #panelLeft,
.panel-right.panel-dock-semabe-mint-fully #panelCenter,
.panel-right.panel-dock-semabe-mint-fully #panelRight,
.panel-right.panel-two-piece-semabe-mint-fully #panelLeft,
.panel-right.panel-two-piece-semabe-mint-fully #panelCenter,
.panel-right.panel-two-piece-semabe-mint-fully #panelRight,
.panel-right.panel-three-piece-semabe-mint-fully #panelLeft,
.panel-right.panel-three-piece-semabe-mint-fully #panelCenter,
.panel-right.panel-three-piece-semabe-mint-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(0,13,6,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(43,143,90,
        1); /*opacity*/
    background-gradient-end: rgba(0,31,15,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-nordic-fully #panelLeft,
.panel-right.panel-normal-semabe-nordic-fully #panelCenter,
.panel-right.panel-normal-semabe-nordic-fully #panelRight,
.panel-right.panel-dock-semabe-nordic-fully #panelLeft,
.panel-right.panel-dock-semabe-nordic-fully #panelCenter,
.panel-right.panel-dock-semabe-nordic-fully #panelRight,
.panel-right.panel-two-piece-semabe-nordic-fully #panelLeft,
.panel-right.panel-two-piece-semabe-nordic-fully #panelCenter,
.panel-right.panel-two-piece-semabe-nordic-fully #panelRight,
.panel-right.panel-three-piece-semabe-nordic-fully #panelLeft,
.panel-right.panel-three-piece-semabe-nordic-fully #panelCenter,
.panel-right.panel-three-piece-semabe-nordic-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(4,7,15,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(111,124,154,
        1); /*opacity*/
    background-gradient-end: rgba(9,17,40,
        1); /*opacity*/
}

.panel-right.panel-normal-semabe-violet-fully #panelLeft,
.panel-right.panel-normal-semabe-violet-fully #panelCenter,
.panel-right.panel-normal-semabe-violet-fully #panelRight,
.panel-right.panel-dock-semabe-violet-fully #panelLeft,
.panel-right.panel-dock-semabe-violet-fully #panelCenter,
.panel-right.panel-dock-semabe-violet-fully #panelRight,
.panel-right.panel-two-piece-semabe-violet-fully #panelLeft,
.panel-right.panel-two-piece-semabe-violet-fully #panelCenter,
.panel-right.panel-two-piece-semabe-violet-fully #panelRight,
.panel-right.panel-three-piece-semabe-violet-fully #panelLeft,
.panel-right.panel-three-piece-semabe-violet-fully #panelCenter,
.panel-right.panel-three-piece-semabe-violet-fully #panelRight {
    box-shadow: 0px 0px 7px 5px
        rgba(0,0,0,0); /*shadow-color*/
    border-color: rgba(13,0,13,1.0);
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(143,74,143,
        1); /*opacity*/
    background-gradient-end: rgba(31,3,31,
        1); /*opacity*/
}

.panel-right.panel-normal-mint-y-fully #panelLeft,
.panel-right.panel-normal-custom-fully #panelLeft,
.panel-right.panel-normal-mint-y-dark-fully #panelLeft,
.panel-right.panel-normal-semabe-azure-fully #panelLeft,
.panel-right.panel-normal-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-normal-semabe-crimson-fully #panelLeft,
.panel-right.panel-normal-semabe-falcon-fully #panelLeft,
.panel-right.panel-normal-semabe-grey-fully #panelLeft,
.panel-right.panel-normal-semabe-steel-fully #panelLeft,
.panel-right.panel-normal-semabe-mint-fully #panelLeft,
.panel-right.panel-normal-semabe-nordic-fully #panelLeft,
.panel-right.panel-normal-semabe-violet-fully #panelLeft {
    border-top: 
        1px /*border-thickness*/
    ;
    border-left: 
        1px /*border-thickness*/
    ;
    border-right: 
        1px /*border-thickness*/
    ;
    border-bottom: 0;
    border-radius: 
        12px /*border-radius*/
        12px /*border-radius*/
        0 0 
    ;
    margin: 0;
}

.panel-right.panel-normal-mint-y-fully #panelCenter,
.panel-right.panel-normal-custom-fully #panelCenter,
.panel-right.panel-normal-mint-y-dark-fully #panelCenter,
.panel-right.panel-normal-semabe-azure-fully #panelCenter,
.panel-right.panel-normal-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-normal-semabe-crimson-fully #panelCenter,
.panel-right.panel-normal-semabe-falcon-fully #panelCenter,
.panel-right.panel-normal-semabe-grey-fully #panelCenter,
.panel-right.panel-normal-semabe-steel-fully #panelCenter,
.panel-right.panel-normal-semabe-mint-fully #panelCenter,
.panel-right.panel-normal-semabe-nordic-fully #panelCenter,
.panel-right.panel-normal-semabe-violet-fully #panelCenter {
    border-top: 0;
    border-left: 
        1px /*border-thickness*/
    ;
    border-right: 
        1px /*border-thickness*/
    ;
    border-bottom: 0;
    border-radius: 0;
    margin: 0;
}

.panel-right.panel-normal-mint-y-fully #panelRight,
.panel-right.panel-normal-custom-fully #panelRight,
.panel-right.panel-normal-mint-y-dark-fully #panelRight,
.panel-right.panel-normal-semabe-azure-fully #panelRight,
.panel-right.panel-normal-semabe-cinnamon-fully #panelRight,
.panel-right.panel-normal-semabe-crimson-fully #panelRight,
.panel-right.panel-normal-semabe-falcon-fully #panelRight,
.panel-right.panel-normal-semabe-grey-fully #panelRight,
.panel-right.panel-normal-semabe-steel-fully #panelRight,
.panel-right.panel-normal-semabe-mint-fully #panelRight,
.panel-right.panel-normal-semabe-nordic-fully #panelRight,
.panel-right.panel-normal-semabe-violet-fully #panelRight {
    border-top: 0;
    border-left: 
        1px /*border-thickness*/
    ;
    border-right: 
        1px /*border-thickness*/
    ;
    border-bottom: 
        1px /*border-thickness*/
    ;
    border-radius: 0 0 
        12px /*border-radius*/ 
        12px /*border-radius*/
        ;
    margin: 0;
}

.panel-normal-mint-y-fully,
#panel.panel-normal-mint-y-fully,
.panel-normal-mint-y-dark-fully,
#panel.panel-normal-mint-y-dark-fully,
.panel-normal-custom-fully,
#panel.panel-normal-custom-fully,
.panel-normal-semabe-azure-fully,
#panel.panel-normal-semabe-azure-fully,
.panel-normal-semabe-cinnamon-fully,
#panel.panel-normal-semabe-cinnamon-fully,
.panel-normal-semabe-crimson-fully,
#panel.panel-normal-semabe-crimson-fully,
.panel-normal-semabe-falcon-fully,
#panel.panel-normal-semabe-falcon-fully,
.panel-normal-semabe-grey-fully,
#panel.panel-normal-semabe-grey-fully,
.panel-normal-semabe-steel-fully,
#panel.panel-normal-semabe-steel-fully,
.panel-normal-semabe-mint-fully,
#panel.panel-normal-semabe-mint-fully,
.panel-normal-semabe-nordic-fully,
#panel.panel-normal-semabe-nordic-fully,
.panel-normal-semabe-violet-fully,
#panel.panel-normal-semabe-violet-fully {
    box-shadow: none;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    background: transparent;
    border: 0 transparent;
    font-size: 1em;
    padding: 0
}

.panel-right.panel-normal-mint-y-fully .applet-box,
.panel-right.panel-normal-custom-fully .applet-box,
.panel-right.panel-normal-mint-y-dark-fully .applet-box,
.panel-right.panel-normal-semabe-azure-fully .applet-box,
.panel-right.panel-normal-semabe-cinnamon-fully .applet-box,
.panel-right.panel-normal-semabe-crimson-fully .applet-box,
.panel-right.panel-normal-semabe-falcon-fully .applet-box,
.panel-right.panel-normal-semabe-grey-fully .applet-box,
.panel-right.panel-normal-semabe-steel-fully .applet-box,
.panel-right.panel-normal-semabe-mint-fully .applet-box,
.panel-right.panel-normal-semabe-nordic-fully .applet-box,
.panel-right.panel-normal-semabe-violet-fully .applet-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-normal-mint-y-fully .grouped-window-list-item-box,
.panel-right.panel-normal-custom-fully .grouped-window-list-item-box,
.panel-right.panel-normal-mint-y-dark-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-azure-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-cinnamon-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-crimson-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-falcon-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-grey-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-steel-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-mint-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-nordic-fully .grouped-window-list-item-box,
.panel-right.panel-normal-semabe-violet-fully .grouped-window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-normal-mint-y-fully .window-list-item-box,
.panel-right.panel-normal-custom-fully .window-list-item-box,
.panel-right.panel-normal-mint-y-dark-fully .window-list-item-box,
.panel-right.panel-normal-semabe-azure-fully .window-list-item-box,
.panel-right.panel-normal-semabe-cinnamon-fully .window-list-item-box,
.panel-right.panel-normal-semabe-crimson-fully .window-list-item-box,
.panel-right.panel-normal-semabe-falcon-fully .window-list-item-box,
.panel-right.panel-normal-semabe-grey-fully .window-list-item-box,
.panel-right.panel-normal-semabe-steel-fully .window-list-item-box,
.panel-right.panel-normal-semabe-mint-fully .window-list-item-box,
.panel-right.panel-normal-semabe-nordic-fully .window-list-item-box,
.panel-right.panel-normal-semabe-violet-fully .window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-two-piece-mint-y-fully #panelLeft,
.panel-right.panel-two-piece-custom-fully #panelLeft,
.panel-right.panel-two-piece-mint-y-dark-fully #panelLeft,
.panel-right.panel-two-piece-semabe-azure-fully #panelLeft,
.panel-right.panel-two-piece-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-two-piece-semabe-crimson-fully #panelLeft,
.panel-right.panel-two-piece-semabe-falcon-fully #panelLeft,
.panel-right.panel-two-piece-semabe-grey-fully #panelLeft,
.panel-right.panel-two-piece-semabe-steel-fully #panelLeft,
.panel-right.panel-two-piece-semabe-mint-fully #panelLeft,
.panel-right.panel-two-piece-semabe-nordic-fully #panelLeft,
.panel-right.panel-two-piece-semabe-violet-fully #panelLeft {
    border-top: 
        1px /*border-thickness*/
    ;
    border-left: 
        1px /*border-thickness*/
    ;
    border-right: 
        1px /*border-thickness*/
    ;
    border-bottom: 
        1px /*border-thickness*/
    ;
    border-radius: 
        12px /*border-radius*/
    ;
    margin: 0;
}

.panel-right.panel-two-piece-mint-y-fully #panelCenter,
.panel-right.panel-two-piece-custom-fully #panelCenter,
.panel-right.panel-two-piece-mint-y-dark-fully #panelCenter,
.panel-right.panel-two-piece-semabe-azure-fully #panelCenter,
.panel-right.panel-two-piece-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-two-piece-semabe-crimson-fully #panelCenter,
.panel-right.panel-two-piece-semabe-falcon-fully #panelCenter,
.panel-right.panel-two-piece-semabe-grey-fully #panelCenter,
.panel-right.panel-two-piece-semabe-steel-fully #panelCenter,
.panel-right.panel-two-piece-semabe-mint-fully #panelCenter,
.panel-right.panel-two-piece-semabe-nordic-fully #panelCenter,
.panel-right.panel-two-piece-semabe-violet-fully #panelCenter {
    border-color: transparent;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    border-top: 
        1px /*border-thickness*/
    ;
    border-left: 0;
    border-right: 0;
    border-bottom: 
        1px /*border-thickness*/
    ;
    border-radius: 0;
    margin: 0;
}

.panel-right.panel-two-piece-mint-y-fully #panelRight,
.panel-right.panel-two-piece-custom-fully #panelRight,
.panel-right.panel-two-piece-mint-y-dark-fully #panelRight,
.panel-right.panel-two-piece-semabe-azure-fully #panelRight,
.panel-right.panel-two-piece-semabe-cinnamon-fully #panelRight,
.panel-right.panel-two-piece-semabe-crimson-fully #panelRight,
.panel-right.panel-two-piece-semabe-falcon-fully #panelRight,
.panel-right.panel-two-piece-semabe-steel-fully #panelRight,
.panel-right.panel-two-piece-semabe-grey-fully #panelRight,
.panel-right.panel-two-piece-semabe-mint-fully #panelRight,
.panel-right.panel-two-piece-semabe-nordic-fully #panelRight,
.panel-right.panel-two-piece-semabe-violet-fully #panelRight {
    border-top: 
        1px /*border-thickness*/
    ;
    border-left: 
        1px /*border-thickness*/
    ;
    border-right: 
        1px /*border-thickness*/
    ;
    border-bottom: 
        1px /*border-thickness*/
    ;
    border-radius: 
        12px /*border-radius*/
    ;
    margin: 0;
}

.panel-two-piece-mint-y-fully,
#panel.panel-two-piece-mint-y-fully,
.panel-two-piece-mint-y-dark-fully,
#panel.panel-two-piece-mint-y-dark-fully,
.panel-two-piece-custom-fully,
#panel.panel-two-piece-custom-fully,
.panel-two-piece-semabe-azure-fully,
#panel.panel-two-piece-semabe-azure-fully,
.panel-two-piece-semabe-cinnamon-fully,
#panel.panel-two-piece-semabe-cinnamon-fully,
.panel-two-piece-semabe-crimson-fully,
#panel.panel-two-piece-semabe-crimson-fully,
.panel-two-piece-semabe-falcon-fully,
#panel.panel-two-piece-semabe-falcon-fully,
.panel-two-piece-semabe-grey-fully,
#panel.panel-two-piece-semabe-grey-fully,
.panel-two-piece-semabe-steel-fully,
#panel.panel-two-piece-semabe-steel-fully,
.panel-two-piece-semabe-mint-fully,
#panel.panel-two-piece-semabe-mint-fully,
.panel-two-piece-semabe-nordic-fully,
#panel.panel-two-piece-semabe-nordic-fully,
.panel-two-piece-semabe-violet-fully,
#panel.panel-two-piece-semabe-violet-fully {
    box-shadow: none;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    background: transparent;
    border: 0 transparent;
    font-size: 1em;
    padding: 0
}

.panel-right.panel-two-piece-mint-y-fully .applet-box,
.panel-right.panel-two-piece-custom-fully .applet-box,
.panel-right.panel-two-piece-mint-y-dark-fully .applet-box,
.panel-right.panel-two-piece-semabe-azure-fully .applet-box,
.panel-right.panel-two-piece-semabe-cinnamon-fully .applet-box,
.panel-right.panel-two-piece-semabe-crimson-fully .applet-box,
.panel-right.panel-two-piece-semabe-falcon-fully .applet-box,
.panel-right.panel-two-piece-semabe-grey-fully .applet-box,
.panel-right.panel-two-piece-semabe-steel-fully .applet-box,
.panel-right.panel-two-piece-semabe-mint-fully .applet-box,
.panel-right.panel-two-piece-semabe-nordic-fully .applet-box,
.panel-right.panel-two-piece-semabe-violet-fully .applet-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-two-piece-mint-y-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-custom-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-mint-y-dark-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-azure-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-cinnamon-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-crimson-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-falcon-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-grey-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-steel-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-mint-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-nordic-fully .grouped-window-list-item-box,
.panel-right.panel-two-piece-semabe-violet-fully .grouped-window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-two-piece-mint-y-fully .window-list-item-box,
.panel-right.panel-two-piece-custom-fully .window-list-item-box,
.panel-right.panel-two-piece-mint-y-dark-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-azure-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-cinnamon-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-crimson-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-falcon-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-grey-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-steel-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-mint-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-nordic-fully .window-list-item-box,
.panel-right.panel-two-piece-semabe-violet-fully .window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-dock-mint-y-fully #panelLeft,
.panel-right.panel-dock-custom-fully #panelLeft,
.panel-right.panel-dock-mint-y-dark-fully #panelLeft,
.panel-right.panel-dock-semabe-azure-fully #panelLeft,
.panel-right.panel-dock-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-dock-semabe-crimson-fully #panelLeft,
.panel-right.panel-dock-semabe-falcon-fully #panelLeft,
.panel-right.panel-dock-semabe-grey-fully #panelLeft,
.panel-right.panel-dock-semabe-steel-fully #panelLeft,
.panel-right.panel-dock-semabe-mint-fully #panelLeft,
.panel-right.panel-dock-semabe-nordic-fully #panelLeft,
.panel-right.panel-dock-semabe-violet-fully #panelLeft {
    border-color: transparent;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    border-top: 
        1px /*border-thickness*/
    ;
    border-left: 
        1px /*border-thickness*/
    ;
    border-right: 0;
    border-bottom: 
        1px /*border-thickness*/
    ;
    border-radius: 
        12px /*border-radius*/
        0 0 
        12px /*border-radius*/
    ;
    margin: 0;
}

.panel-right.panel-dock-mint-y-fully #panelCenter,
.panel-right.panel-dock-custom-fully #panelCenter,
.panel-right.panel-dock-mint-y-dark-fully #panelCenter,
.panel-right.panel-dock-semabe-azure-fully #panelCenter,
.panel-right.panel-dock-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-dock-semabe-crimson-fully #panelCenter,
.panel-right.panel-dock-semabe-falcon-fully #panelCenter,
.panel-right.panel-dock-semabe-grey-fully #panelCenter,
.panel-right.panel-dock-semabe-steel-fully #panelCenter,
.panel-right.panel-dock-semabe-mint-fully #panelCenter,
.panel-right.panel-dock-semabe-nordic-fully #panelCenter,
.panel-right.panel-dock-semabe-violet-fully #panelCenter {
    border: 
        1px /*border-thickness*/
    ;
    border-radius: 
        12px /*border-radius*/
    ;
    margin: 0;
}

.panel-right.panel-dock-mint-y-fully #panelRight,
.panel-right.panel-dock-custom-fully #panelRight,
.panel-right.panel-dock-mint-y-dark-fully #panelRight,
.panel-right.panel-dock-semabe-azure-fully #panelRight,
.panel-right.panel-dock-semabe-cinnamon-fully #panelRight,
.panel-right.panel-dock-semabe-crimson-fully #panelRight,
.panel-right.panel-dock-semabe-falcon-fully #panelRight,
.panel-right.panel-dock-semabe-grey-fully #panelRight,
.panel-right.panel-dock-semabe-steel-fully #panelRight,
.panel-right.panel-dock-semabe-mint-fully #panelRight,
.panel-right.panel-dock-semabe-nordic-fully #panelRight,
.panel-right.panel-dock-semabe-violet-fully #panelRight {
    border-color: transparent;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    border-top: 
        1px /*border-thickness*/
    ;
    border-left: 0;
    border-right: 
        1px /*border-thickness*/
    ;
    border-bottom: 
        1px /*border-thickness*/
    ;
    border-radius: 0 
        12px /*border-radius*/ 
        12px /*border-radius*/
        0;
    margin: 0;
}

.panel-dock-mint-y-fully,
#panel.panel-dock-mint-y-fully,
.panel-dock-mint-y-dark-fully,
#panel.panel-dock-mint-y-dark-fully,
.panel-dock-custom-fully,
#panel.panel-dock-custom-fully,
.panel-dock-semabe-azure-fully,
#panel.panel-dock-semabe-azure-fully,
.panel-dock-semabe-cinnamon-fully,
#panel.panel-dock-semabe-cinnamon-fully,
.panel-dock-semabe-crimson-fully,
#panel.panel-dock-semabe-crimson-fully,
.panel-dock-semabe-falcon-fully,
#panel.panel-dock-semabe-falcon-fully,
.panel-dock-semabe-grey-fully,
#panel.panel-dock-semabe-grey-fully,
.panel-dock-semabe-steel-fully,
#panel.panel-dock-semabe-steel-fully,
.panel-dock-semabe-mint-fully,
#panel.panel-dock-semabe-mint-fully,
.panel-dock-semabe-nordic-fully,
#panel.panel-dock-semabe-nordic-fully,
.panel-dock-semabe-violet-fully,
#panel.panel-dock-semabe-violet-fully {
    box-shadow: none;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    background: transparent;
    border: 0 transparent;
    font-size: 1em;
    padding: 0
}

.panel-right.panel-dock-mint-y-fully .applet-box,
.panel-right.panel-dock-custom-fully .applet-box,
.panel-right.panel-dock-mint-y-dark-fully .applet-box,
.panel-right.panel-dock-semabe-azure-fully .applet-box,
.panel-right.panel-dock-semabe-cinnamon-fully .applet-box,
.panel-right.panel-dock-semabe-crimson-fully .applet-box,
.panel-right.panel-dock-semabe-falcon-fully .applet-box,
.panel-right.panel-dock-semabe-grey-fully .applet-box,
.panel-right.panel-dock-semabe-steel-fully .applet-box,
.panel-right.panel-dock-semabe-mint-fully .applet-box,
.panel-right.panel-dock-semabe-nordic-fully .applet-box,
.panel-right.panel-dock-semabe-violet-fully .applet-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-dock-mint-y-fully .grouped-window-list-item-box,
.panel-right.panel-dock-custom-fully .grouped-window-list-item-box,
.panel-right.panel-dock-mint-y-dark-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-azure-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-cinnamon-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-crimson-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-falcon-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-grey-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-steel-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-mint-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-nordic-fully .grouped-window-list-item-box,
.panel-right.panel-dock-semabe-violet-fully .grouped-window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-dock-mint-y-fully .window-list-item-box,
.panel-right.panel-dock-custom-fully .window-list-item-box,
.panel-right.panel-dock-mint-y-dark-fully .window-list-item-box,
.panel-right.panel-dock-semabe-azure-fully .window-list-item-box,
.panel-right.panel-dock-semabe-cinnamon-fully .window-list-item-box,
.panel-right.panel-dock-semabe-crimson-fully .window-list-item-box,
.panel-right.panel-dock-semabe-falcon-fully .window-list-item-box,
.panel-right.panel-dock-semabe-grey-fully .window-list-item-box,
.panel-right.panel-dock-semabe-steel-fully .window-list-item-box,
.panel-right.panel-dock-semabe-mint-fully .window-list-item-box,
.panel-right.panel-dock-semabe-nordic-fully .window-list-item-box,
.panel-right.panel-dock-semabe-violet-fully .window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-three-piece-mint-y-fully #panelLeft,
.panel-right.panel-three-piece-custom-fully #panelLeft,
.panel-right.panel-three-piece-mint-y-dark-fully #panelLeft,
.panel-right.panel-three-piece-semabe-azure-fully #panelLeft,
.panel-right.panel-three-piece-semabe-cinnamon-fully #panelLeft,
.panel-right.panel-three-piece-semabe-crimson-fully #panelLeft,
.panel-right.panel-three-piece-semabe-falcon-fully #panelLeft,
.panel-right.panel-three-piece-semabe-grey-fully #panelLeft,
.panel-right.panel-three-piece-semabe-steel-fully #panelLeft,
.panel-right.panel-three-piece-semabe-mint-fully #panelLeft,
.panel-right.panel-three-piece-semabe-nordic-fully #panelLeft,
.panel-right.panel-three-piece-semabe-violet-fully #panelLeft,
.panel-right.panel-three-piece-mint-y-fully #panelCenter,
.panel-right.panel-three-piece-custom-fully #panelCenter,
.panel-right.panel-three-piece-mint-y-dark-fully #panelCenter,
.panel-right.panel-three-piece-semabe-azure-fully #panelCenter,
.panel-right.panel-three-piece-semabe-cinnamon-fully #panelCenter,
.panel-right.panel-three-piece-semabe-crimson-fully #panelCenter,
.panel-right.panel-three-piece-semabe-falcon-fully #panelCenter,
.panel-right.panel-three-piece-semabe-grey-fully #panelCenter,
.panel-right.panel-three-piece-semabe-steel-fully #panelCenter,
.panel-right.panel-three-piece-semabe-mint-fully #panelCenter,
.panel-right.panel-three-piece-semabe-nordic-fully #panelCenter,
.panel-right.panel-three-piece-semabe-violet-fully #panelCenter,
.panel-right.panel-three-piece-mint-y-fully #panelRight,
.panel-right.panel-three-piece-custom-fully #panelRight,
.panel-right.panel-three-piece-mint-y-dark-fully #panelRight,
.panel-right.panel-three-piece-semabe-azure-fully #panelRight,
.panel-right.panel-three-piece-semabe-cinnamon-fully #panelRight,
.panel-right.panel-three-piece-semabe-crimson-fully #panelRight,
.panel-right.panel-three-piece-semabe-falcon-fully #panelRight,
.panel-right.panel-three-piece-semabe-grey-fully #panelRight,
.panel-right.panel-three-piece-semabe-steel-fully #panelRight,
.panel-right.panel-three-piece-semabe-mint-fully #panelRight,
.panel-right.panel-three-piece-semabe-nordic-fully #panelRight,
.panel-right.panel-three-piece-semabe-violet-fully #panelRight {
    border: 
        1px /*border-thickness*/
    ;
    border-radius: 
        12px /*border-radius*/
    ;
    margin: 0;
}

.panel-three-piece-mint-y-fully,
#panel.panel-three-piece-mint-y-fully,
.panel-three-piece-mint-y-dark-fully,
#panel.panel-three-piece-mint-y-dark-fully,
.panel-three-piece-custom-fully,
#panel.panel-three-piece-custom-fully,
.panel-three-piece-semabe-azure-fully,
#panel.panel-three-piece-semabe-azure-fully,
.panel-three-piece-semabe-cinnamon-fully,
#panel.panel-three-piece-semabe-cinnamon-fully,
.panel-three-piece-semabe-crimson-fully,
#panel.panel-three-piece-semabe-crimson-fully,
.panel-three-piece-semabe-falcon-fully,
#panel.panel-three-piece-semabe-falcon-fully,
.panel-three-piece-semabe-grey-fully,
#panel.panel-three-piece-semabe-grey-fully,
.panel-three-piece-semabe-steel-fully,
#panel.panel-three-piece-semabe-steel-fully,
.panel-three-piece-semabe-mint-fully,
#panel.panel-three-piece-semabe-mint-fully,
.panel-three-piece-semabe-nordic-fully,
#panel.panel-three-piece-semabe-nordic-fully,
.panel-three-piece-semabe-violet-fully,
#panel.panel-three-piece-semabe-violet-fully {
    box-shadow: none;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    background: transparent;
    border: 0 transparent;
    font-size: 1em;
    padding: 0
}

.panel-right.panel-three-piece-mint-y-fully .applet-box,
.panel-right.panel-three-piece-custom-fully .applet-box,
.panel-right.panel-three-piece-mint-y-dark-fully .applet-box,
.panel-right.panel-three-piece-semabe-azure-fully .applet-box,
.panel-right.panel-three-piece-semabe-cinnamon-fully .applet-box,
.panel-right.panel-three-piece-semabe-crimson-fully .applet-box,
.panel-right.panel-three-piece-semabe-falcon-fully .applet-box,
.panel-right.panel-three-piece-semabe-grey-fully .applet-box,
.panel-right.panel-three-piece-semabe-steel-fully .applet-box,
.panel-right.panel-three-piece-semabe-mint-fully .applet-box,
.panel-right.panel-three-piece-semabe-nordic-fully .applet-box,
.panel-right.panel-three-piece-semabe-violet-fully .applet-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-three-piece-mint-y-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-custom-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-mint-y-dark-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-azure-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-cinnamon-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-crimson-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-falcon-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-grey-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-steel-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-mint-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-nordic-fully .grouped-window-list-item-box,
.panel-right.panel-three-piece-semabe-violet-fully .grouped-window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-three-piece-mint-y-fully .window-list-item-box,
.panel-right.panel-three-piece-custom-fully .window-list-item-box,
.panel-right.panel-three-piece-mint-y-dark-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-azure-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-cinnamon-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-crimson-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-falcon-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-grey-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-steel-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-mint-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-nordic-fully .window-list-item-box,
.panel-right.panel-three-piece-semabe-violet-fully .window-list-item-box {
    border-radius: 
        12px /*border-radius*/
}

.panel-right.panel-three-piece-mint-y-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-custom-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-mint-y-dark-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-azure-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-cinnamon-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-crimson-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-falcon-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-grey-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-steel-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-mint-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-nordic-fully .workspace-graph .workspace,
.panel-right.panel-three-piece-semabe-violet-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-mint-y-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-custom-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-mint-y-dark-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-azure-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-cinnamon-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-crimson-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-falcon-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-grey-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-steel-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-mint-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-nordic-fully .workspace-graph .workspace,
.panel-right.panel-two-piece-semabe-violet-fully .workspace-graph .workspace,
.panel-right.panel-dock-mint-y-fully .workspace-graph .workspace,
.panel-right.panel-dock-custom-fully .workspace-graph .workspace,
.panel-right.panel-dock-mint-y-dark-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-azure-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-cinnamon-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-crimson-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-falcon-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-grey-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-steel-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-mint-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-nordic-fully .workspace-graph .workspace,
.panel-right.panel-dock-semabe-violet-fully .workspace-graph .workspace,
.panel-right.panel-normal-mint-y-fully .workspace-graph .workspace,
.panel-right.panel-normal-custom-fully .workspace-graph .workspace,
.panel-right.panel-normal-mint-y-dark-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-azure-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-cinnamon-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-crimson-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-falcon-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-grey-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-steel-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-mint-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-nordic-fully .workspace-graph .workspace,
.panel-right.panel-normal-semabe-violet-fully .workspace-graph .workspace {
    border-radius: 
        12px /*border-radius*/
    ;
    padding: 3px
}
